@model IEnumerable<Web_BanSach.BANGSACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSach.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm Sách", "ThemSach")
</p>
<table class="table">
    <tr>
        <th>
            Mã Sách
        </th>
        <th>
            Tên Sách
        </th>
        <th>
           Giá bán
        </th>
        <th>
            Nội Dung
        </th>
        <th>
            Ảnh bìa
        </th>
        <th>
            Năm xuất bản
        </th>
        <th>
            Mã Loại
        </th>
        <th>
            Mã NXB
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MASACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENSACH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOIDUNG)
        </td>
        <td>
            <img src="~/Content/HinhAnh/@item.ANHBIA" style="height:50px;width:50px" alt="#" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMXUATBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MALOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MANXB)
        </td>
        <td>
            @Html.ActionLink("Sửa", "ViewEdit", new { id = item.MASACH }) |
            @Html.ActionLink("Xóa", "ViewDelete", new { id = item.MASACH }) |

        </td>
    </tr>
}

</table>
