@model Web_BanSach.BANGSACH

@{
    ViewBag.Title = "ViewDelete";
    Layout = "~/Views/Shared/_LayoutSach.cshtml";
}

<h2>ViewDelete</h2>

<h3>Bạn có muốn xoá sách @Model.TENSACH này không?</h3>

<div>
    <h4>BANGSACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MASACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENSACH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSACH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIABAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANHBIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANHBIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMXUATBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMXUATBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MALOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MALOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MANXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANXB)
        </dd>

    </dl>


    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    <form method="post" action="@Url.Action("DeleteSubmit", "SachEdit", new { id = Model.MASACH})">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger px-4">Xóa</button>
     </form>
</div>
