@model Web_BanSach.LOAISACH

@{
    ViewBag.Title = "ViewDelete";
    Layout = "~/Views/Shared/_LayoutSach.cshtml";
}
<h3>Bạn có muốn xoá @Model.TENLOAI này không?</h3>
    @using (Html.BeginForm("DeleteSubmit", "LoaiSach"))
    {
        @Html.AntiForgeryToken()
<div>
    <h4>LOAISACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.HiddenFor(model => model.MALOAI)
            @*@Html.DisplayFor(model => model.MALOAI)*@
        </dd>

        <dt>
            Tên Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLOAI)
        </dd>

    </dl>
        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>
    }
