@model IEnumerable<Web_BanSach.NHAXUATBAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSach.cshtml";
}
<p>
    @Html.ActionLink("Thêm NXB", "ThemNXB")
</p>
<table class="table">
    <tr>
        <th>
            Mã NXB
        </th>
        <th>
            Tên NXB
        </th>
        <th>
            Địa chỉ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MANXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "ViewEdit", new { nxb_id = item.MANXB }) |
            @Html.ActionLink("Xoá", "ViewDelete", new { nxb_id=item.MANXB })
        </td>
    </tr>
}

</table>
