@model Web_BanSach.NHAXUATBAN

@{
    ViewBag.Title = "ViewDelete";
    Layout = "~/Views/Shared/_LayoutSach.cshtml";
}

<h3>Bạn có muốn xoá @Model.TENNXB này không?</h3>
    @using (Html.BeginForm("DeleteSubmit", "NhaXuatBan")) 
    {
        @Html.AntiForgeryToken()
<div>
    <h4>NHAXUATBAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @*@Html.DisplayFor(model => model.MANXB)*@
            @Html.HiddenFor(model => model.MANXB)
        </dd>

        <dt>
            Tên NXB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENNXB)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>
    </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
</div>
    }
